  :root {
    --bg-color: #232323;
    --bg-color-dark: #1b1b1b;
    --bg-color-light: #424242;
    --accent: #FFE99F;
    --accent-dark: #B29F5D;
    --text-light: #ececec;

    --border-radius: 16px;
    --border-radius-lg: 32px;

    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 32px;
    --spacing-xl: 64px;
    --spacing-xxl: 128px;
    --font-size-sm: 8px;
    --font-size-md: 16px;
    --font-size-lg: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 64px;
  }

  /* Scrollbar celé stránky nebo konkrétního elementu */
  ::-webkit-scrollbar {
    width: var(--spacing-md);
  }

  /* Track (pozadí scrollbaru) */
  ::-webkit-scrollbar-track {
    background: var(--bg-color);
  }

  /* Thumb (posuvná část) */
  ::-webkit-scrollbar-thumb {
    background-color: var(--bg-color-light);
    border-radius: var(--border-radius);
    border: 4px solid var(--bg-color);
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .oswald-bold {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
  }

  .lexend-normal {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

  }

  .baskervville-regular-italic {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
  }

  body {
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: var(--font-size-lg);
    color: var(--accent-dark);
    background-color: var(--bg-color);
  }

  .btn {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-md);
    color: var(--accent-dark);
    background-color: transparent;
    padding: var(--spacing-md) var(--spacing-lg);
    margin: var(--spacing-sm);
    border: 2px solid var(--accent-dark);
    border-radius: var(--border-radius-lg);
    font-family: 'Lexend', sans-serif;
    font-size: var(--font-size-md);
    font-weight: 700;
    cursor: pointer;
    transition: color 0.5s ease-in-out, border 0.5s ease-in-out, transform 0.2s ease-out;
  }

  .btn svg {
    width: 20px;
    height: 20px;
    transition: fill 0.5s ease-in-out;
  }

  .btn:hover {
    color: var(--accent);
    border-color: var(--accent);
  }

  header {
    display: flex;
    flex-direction: column;
    height: calc(var(--real-vh) * 100);

  }

  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);
    overflow: hidden;
    height: 85dvh;
    margin: var(--spacing-sm);
    margin-bottom: 0;
    border-radius: var(--border-radius);
    background-color: var(--bg-color-dark);
  }

  @media (min-width: 1024px) {
    .hero {
      gap: var(--spacing-xl);
      justify-content: center;
    }
  }

  .heroTxt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
  }

  .blob-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
  }

  .blob-background svg {
    width: 100%;
    height: 100%;
  }

  .blob {
    transform-origin: center;
    animation: breathe 15s ease-in-out infinite;
    opacity: 0.25;
    filter: blur(4px);
  }

  .blob1 {
    animation-delay: 0s;
  }

  .blob2 {
    animation-delay: 2.5s;
  }

  @keyframes breathe {

    0%,
    100% {
      transform: scale(1);
    }

    33% {
      transform: scale(0.8);
      rotate: -2deg;
    }

    66% {
      transform: scale(1.3);
      rotate: 2deg;
    }
  }

  .text-prim {
    font-family: "Oswald", sans-serif;
    font-size: clamp(80px, 10vw, 140px);
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    width: auto;
    margin: 0;
    line-height: 1;
    color: var(--text-light);
  }

  .text-sec {
    font-family: "Fira Code", monospace;
    font-size: clamp(60px, 10vw, 100px);
    font-weight: 300;
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    width: auto;
    margin: 0;
    line-height: 1.4;
    color: var(--accent);
  }

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .text-sec::after {
    content: '|';
    animation: blink 1s infinite;
    color: var(--accent);
  }

  .text-terc {
    font-family: "Baskervville", serif;
    font-weight: 400;
    font-style: italic;
    font-size: clamp(65px, 10vw, 120px);
    display: inline-block;
    text-align: right;
    white-space: nowrap;
    width: auto;
    margin: 0;
    line-height: 0.8;
    color: var(--text-light);
  }

  .btnToProjects {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 var(--spacing-md);
    cursor: pointer;
    z-index: 850;
  }

  @media (min-width: 1024px) {
    .btnToProjects {
      position: absolute;
      bottom: 7dvh;
      right: 5dvh;
    }
  }

  nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15dvh;
  }

  @media (min-width: 1024px) {
    nav {
      justify-content: center;
      gap: var(--spacing-xxl);
    }
  }


  nav a {
    align-items: center;
    color: var(--text-light);
    text-decoration: none;
    font-weight: 700;
    font-size: clamp(16px, 2vw, 24px);
  }

  nav a:hover {
    color: var(--accent-dark);
  }

  nav a:active {
    color: var(--accent);
  }


  .about {
    padding: var(--spacing-xl) var(--spacing-lg) 0 var(--spacing-lg);
    margin-bottom: var(--spacing-xxl);
  }

  @media (min-width: 1024px) {
    .about {
      display: flex;
      flex-wrap: wrap;
      justify-self: center;
      gap: var(--spacing-xxl);
      margin: auto;
      margin-bottom: var(--spacing-xxl);
    }
  }

  .about-text {
    max-width: 420px;
    margin: auto;
  }

  .about h3 {
    font-family: "Oswald", sans-serif;
    font-size: var(--font-size-xxl);
    color: var(--text-light);
    text-align: left;
    margin-top: var(--spacing-xl);
  }

  @media (min-width: 1024px) {
    .about h3 {
      margin-top: 0;
    }
  }

  .circle-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  @media (min-width: 1024px) {
    .circle-container {
      transform: scale(1.3);
      height: 500px;
    }
  }

  .annotation {
    position: absolute;
    top: -20px;
    right: -10px;
    width: 160px;
    pointer-events: none;
    z-index: 10;
  }

  .background-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 340px;
    height: 340px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: var(--bg-color-dark);
    z-index: 0;
  }

  .profile-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .profile-pic img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: block;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin: -20px;
    transform: rotate(calc(var(--i) * 45deg)) translate(130px) rotate(calc(var(--i) * -45deg));
    animation: icoBreathe 4s ease-in-out infinite;
    animation-delay: calc(var(--i) * 0.45s);
    z-index: 5;
  }


  .icon img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .icon:hover {
    animation-play-state: paused;
    transform: scale(1);
  }

  @keyframes icoBreathe {

    0%,
    100% {
      transform: rotate(calc(var(--i) * 45deg)) translate(130px) rotate(calc(var(--i) * -45deg)) scale(1);
    }

    66% {
      transform: rotate(calc(var(--i) * 45deg)) translate(130px) rotate(calc(var(--i) * -45deg)) scale(1.25);
    }

  }

  .icon::after {
    content: attr(data-label);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--accent-dark);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 0;
    animation-play-state: paused;
    pointer-events: none;
  }

  .icon:hover::after {
    opacity: 1;
    transition: opacity 0.2s ease;
  }

  .icon:hover img {
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .aboutTxt {
    color: var(--accent);
  }

  .aboutTxtNote {
    color: var(--text-light);
    font-size: var(--font-size-lg);
  }

  .gallery {
    background-color: #232323;
    color: #B29F5D;
    padding-top: var(--spacing-sm);
    margin-bottom: var(--spacing-xxl);
  }

  .gallery-hero {
    background-image: url(images/gal/);
    background-color: var(--bg-color-dark);
    background-size: cover;
    background-position: center;
    padding: var(--spacing-md);
    margin: var(--spacing-sm);
    align-content: end;
    margin-top: 0;
    border-radius: var(--border-radius);
    height: 25dvh;
    min-height: 220px;
    overflow: hidden;
  }

  .gallery-hero h3 {
    font-family: "Oswald", sans-serif;
    font-size: var(--font-size-xxl);
    color: var(--text-light);
  }

  .gallery-hero p {
    font-family: "Lexend", sans-serif;
    font-size: var(--font-size-md);
    color: var(--accent-dark);
  }

  .gallery-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: var(--spacing-sm);
    gap: var(--spacing-sm);
    padding: 0 var(--spacing-sm);
    padding-bottom: var(--spacing-sm);

  }

  .spacer {
    flex: 0 0 var(--spacing-sm);
    /* prázdné místo vlevo i vpravo */
    pointer-events: none;
  }

  .gallery-item {
    flex: 0 0 80%;
    max-width: 60%;
    aspect-ratio: 1/1;
    background: var(--bg-color-dark);
    border-radius: var(--border-radius);
    scroll-snap-align: start;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .gallery-item {
      flex: 0 0 18%;
    }
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .projects {
    margin-bottom: var(--spacing-xl);
    padding: var(--spacing-sm);
    background-color: var(--bg-color-light);
    border-radius: 20px;
  }

  .projects-hero {
    background-color: var(--bg-color-dark);
    background-size: cover;
    background-position: center;
    padding: var(--spacing-md);
    /* margin: var(--spacing-sm); */
    margin-top: 0;
    align-content: end;
    border-radius: var(--border-radius);
    height: 25dvh;
    min-height: 220px;
    overflow: hidden;
  }

  @media (min-width: 768px) {
    .projects-hero {
      padding: 20px;
    }
  }

  .projects-hero h3 {
    font-family: "Oswald", sans-serif;
    font-size: var(--font-size-xxl);
    color: var(--text-light);
  }

  .projects-hero p {
    font-family: "Lexend", sans-serif;
    font-size: var(--font-size-md);
    color: var(--accent-dark);
  }

  .separator {
    height: 8px;
    width: 36px;
    border-radius: var(--border-radius);
    background-color: var(--accent-dark);
    margin: auto;
    margin-top: var(--spacing-lg);
  }
  @media (min-width: 768px) {
    .separator {
      margin-top: var(--spacing-xl);
    }
  }


  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-sm);
    margin-top: var(--spacing-lg);
  }

  @media (min-width: 768px) {
    .projects-grid {
      grid-template-columns: repeat(4, 1fr);
      margin-top: var(--spacing-xl);    }
  }

  @media (min-width: 1024px) {
    .projects-grid {
      grid-template-columns: repeat(6, 1fr);
      margin-top: var(--spacing-xl);
    }
  }

  .item {
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  /* Všechny obrázky */
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    background-color: var(--bg-color-dark);
  }

  /* Varianty dlaždic */
  .square {
    grid-column: span 1;
    grid-row: span 1;
    aspect-ratio: 1 / 1;
    /* 👈 udrží čtverec */

  }

  .wide {
    grid-column: span 2;
    grid-row: span 1;
    /* max-height: calc(100% - (var(--spacing-sm)/2)); */
    background-color: var(--bg-color-dark);
    align-content: end;
  }
  #ThePoint .wide {
    background-color: #1d1d1b;
  }

  #spaceEngineers .wide {
    background-color: #1d1d1d;
  }

  #WHG .wide {
    background-color: #000a1e;
  }

  #JJ68 .wide {
    background-color: #0b0c0c;
  }

  .wide p {
    font-family: "Lexend", sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: var(--text-light);
    padding: var(--spacing-md);
  }
    @media (min-width: 768px) {
      .wide p {
        font-size: var(--font-size-md);
        padding: 20px;
      } 
    }

  .tall {
    grid-column: span 1;
    grid-row: span 2;
    aspect-ratio: 1 / 2;
    /* 👈 udrží obdélník */
  }

  .big {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1 / 1;
    /* 👈 udrží čtverec */
  }

  .btnProject {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: var(--accent-dark);
    background-color: transparent;
    margin-top: var(--spacing-sm);
    padding: var(--spacing-md) var(--spacing-lg);
    border: 2px solid var(--accent-dark);
    border-radius: var(--border-radius-lg);
    font-family: 'Lexend', sans-serif;
    font-size: var(--font-size-md);
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.5s ease-in-out, border 0.5s ease-in-out, transform 0.2s ease-out;
  }

  .btnProject:hover {
    color: var(--accent);
    border-color: var(--accent);
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--spacing-lg);
    margin-bottom: var(--spacing-xl);
  }

  .contact h3 {
    font-family: "Oswald", sans-serif;
    font-size: var(--font-size-xxl);
    color: var(--accent-dark);
    text-align: right;
  }

  .contact-link {
    color: var(--text-light);
    text-decoration: none;
    text-align: right;
    font-weight: 700;
    font-size: var(--font-size-lg);
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--spacing-md);
    font-size: var(--font-size-md);
    color: var(--bg-color-light);
  }

  .logo {
    margin: var(--spacing-lg);
    width: 180px;
    height: auto;
  }


  .plb.hidden {
    display: none;
  }

  .plb {
    position: fixed;
    inset: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, .9);
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: center;
    justify-items: center;
  }

  .plb__stage {
    max-width: 90vw;
    max-height: 80vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    touch-action: none;
    /* kvůli swipu/zoomu */
  }

  .plb__img {
    max-width: 100%;
    max-height: 80vh;
    user-select: none;
    border-radius: var(--border-radius);
    -webkit-user-drag: none;
    transition: transform .15s ease, opacity .15s ease;
    cursor: zoom-in;
  }

  .plb__img.is-zoomed {
    cursor: grab;
  }

  .plb__close {
    position: absolute;
    top: 12px;
    right: 14px;
    font-size: 32px;
    color: var(--text-light);
    background: transparent;
    border: 0;
    cursor: pointer;
  }
  .plb__close:focus {
    outline: none
  }

  .plb__arrow {
    position: absolute;
    transform: translateY(-50%);
    background: transparent;
    font-size: var(--font-size-md);
    border: none;
    color: var(--text-light);
    width: 44px;
    height: 44px;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 1000;
    /* opacity: 0; */
    /* pointer-events: none; */
  }

  .is-disabled {
    opacity: 0.25;
    cursor: not-allowed;
  }

  .plb__arrow--left {
    left: var(--spacing-sm);
  }
  .plb__arrow--right {
    right: var(--spacing-sm);
  }

  .plb__footer {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: var(--spacing-md);
    align-items: center;
    padding: 10px 0 16px;
  }

  .plb__dots {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 70vw;
  }

  .plb__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: var(--bg-color-light);
    cursor: pointer;
  }

  .plb__dot.is-active {
    background: var(--text-light);
    transform: scale(1.2);
  }

  .plb__counter {
    color: var(--text-light);
    opacity: .8;
    font-size: var(--font-size-md);
  }